include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/hutemplate *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/hutemplate/migration *.ini *.py *.mako
