<div class="row">
  <div class="landing-page-content col-md-8 col-xs-12" id="main-title">
    <h1>{{_('Landing page Title')}}</h1>
    <h3>{{_('Landing page Subtitle')}}<br/><a class="" href="{{ h.url_for(controller='home', action='about') }}">{{_('More about the portal')}}</a></h3>
    <a class="btn btn-primary mt-6 hidden-xs" href="{{ h.url_for(controller='dataset', action='search') }}">{{_('View data')}}
      <i class="feather-icon icon-arrow-right"></i>
    </a>
    <a class="btn btn-primary mt-6 btn-sm visible-xs-inline-block" href="{{ h.url_for(controller='dataset', action='search') }}">{{_('View data')}}
      <i class="feather-icon icon-arrow-right"></i>
    </a>
  </div>
</div>

{% set posts = h.get_recent_blog_posts_by_type(number=1, type="ANALYZES_NAVU") %}

<div class="row">
  <div class="col-xs-12 col-md-5">
    {% for post in posts %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
    {% set url=h.url_for('pages.blog_show', page= post.name) %}
    {% else %}
    {% set url=h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + post.name) %}
    {% endif %}
    {% set link_info = h.blog_link(post) %}
    <div class="newest-analyzis">
      <a href="{{link_info['link'] or url }}" target="{{link_info['target'] or '_self'}}">
        <h2><img alt="{{_('Latest analysis')}}" src="{{h.url_for_static('/img/lightning.svg')}}" />{{_('Latest analysis')}}</h2>
        <h1>{{ post.title or post.name }}</h1>
      </a>
    </div>
    {% endfor %}
  </div>
</div>