<form class="search-form mb-5 p-0" method="get" action="{% url_for 'dataset.search' %}">
  <div class="search-input form-group main-search-field">
    <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control rounded-input" name="q" value="" autocomplete="off" maxlength="1000" placeholder="{{_('Search datasets')}}" />
    <span class="input-group-btn">
      <button type="submit" aria-labelledby="search-label">
        <i class="feather-icon icon-search"></i>
        <span id="search-label">{{ _('Search') }}</span>
      </button>
    </span>
  </div>
</form>
