{% ckan_extends %}

{% block header_wrapper %} 
  
  {{ self.header_account() }}
  <header class="navbar navbar-static-top masthead">
    {{ self.header_debug() }}
    <div class="container">
      <div class="hu-navbar-left">
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="feather-icon icon-align-left"></span>
        </button>
      </div>
      <hgroup class="{{ g.header_class }} navbar-left">
        {{ self.header_logo() }}
      </hgroup>
      <div class="collapse hu-navbar-collapse" id="main-navigation-toggle">
        {{ self.header_site_navigation() }}
        {{ self.header_site_search() }}
        {#
        <div class="language-selector visible-xs-block visible-sm-block">
          {% snippet "snippets/language_selector.html" %}
        </div>
        #}
      </div>
    </div>
  </header>
{% endblock %}

{% block header_account %}
{% if c.userobj %}
{{ super() }}
  {% endif %}
{% endblock %}

{% block header_logo %}
{% snippet 'snippets/logo.html' %}
{% endblock %}

{% block header_site_navigation_tabs %} 
    {{ h.build_nav_main(
        ('home.index', _('Home')),
        ('dataset.search', _('Datasets')),
        ('home.about', _('About Open Data Portal')),
        ('hutemplate.knowledgebase', _('Knowledge base')),
        ('hutemplate.completedanalyzes', _('Completed Analyzes')),
        ('hutemplate.news', _('News'))
    ) }}
    {#  #}
    {# ('hutemplate.datarequest', _('Data Request')),#}
{% endblock %}

{% block header_account_logged %}
  <li>
    <a href="{{ h.url_for('pages_index') }}" title="{{ _('Pages') }}">
      <i class="fa fa-file icon-file"></i>
    </a>
  </li>
  <li>
    <a href="{{ h.url_for('hutemplate.newscategory_index') }}" title="{{ _('Blog') }}">
      <i class="fa fa-pencil icon-pencil"></i>
    </a>
  </li>
  {{ super.super() }}
{% endblock %}

{% block header_site_search %}
<form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
  <div class="field">
    <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}</label>
    <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" maxlength="1000" aria-label="{{ _('Search datasets') }}"/>
    <button class="btn-search" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
  </div>
</form>
{% endblock %}
