{% ckan_extends %}

{% block toolbar %}
  <div class="toolbar-wrapper">
    {{ super() }}
    {% if self.toolbar_action() | trim %}
    <div class="toolbar-action">
      {% block toolbar_action %}{% endblock %}
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block primary_content %}
  <article class="module">
    {% block page_header %}
      <header class="module-content page-header">
        {% if self.content_action() | trim %}
          <div class="content_action">
            {% block content_action %}{% endblock %}
          </div>
        {% endif %}
        <ul class="nav nav-tabs">
          {% block content_primary_nav %}{% endblock %}
        </ul>
      </header>
    {% endblock %}
    <div class="module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}{% endblock %}
        </div>
      {% endif %}
      {% block primary_content_inner %}
      {% endblock %}
    </div>
  </article>
{% endblock %}