{% extends 'ckanext_pages/blog_list.html' %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Add Article'), named_route='pages.blog_new', page='', category=c.category['key'], class_='btn btn-primary btn-sm', icon=h.pages_get_plus_icon() %}
    {% else %}
      {% link_for _('Add Article'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', category=c.category['key'], class_='btn btn-primary btn-sm', icon=h.pages_get_plus_icon() %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('News categories'), named_route='hutemplate.newscategory_index' %}</li>
  <li class="active">{% link_for c.category['label'], named_route='hutemplate.newscategory_show', category_name_or_id=c.category['label'] %}</li>
{% endblock %}

{% block main_content %}
  {{ self.toolbar() }}
   <div class="wrapper no-nav">
    <article class="module">
      <div class="module-content pages">
        <div class="page_primary_action">
          {{ self.page_primary_action() }}
        </div>
        {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items, type='blog' %}
        {{ c.page.pager() }}
      </div>
    </article>
   </div>
{% endblock %}
