{% ckan_extends %}

{% block primary_content_inner %}
  <span class="manage-package">
    {% link_for _('Activity Stream'), named_route=pkg.type ~ '.activity', id=pkg.id if is_activity_archive else pkg.name, class_='btn btn-default btn-outline btn-sm' %}
    {% if not is_activity_archive %}
      {% if h.check_access('package_update', {'id':pkg.id }) %}
        {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='btn btn-default btn-sm ml-5', icon='wrench' %}
      {% endif %}
    {% endif %}
  </span>
  <div class="package-read">
    {{super.super()}}
    {{self.package_archive_notice()}}
    <h1>
      {{self.page_heading()}}
    </h1>
    <div class="labels">
      {% if pkg.private %}
      <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      {% endif %}
      <span class="label">
        <span class="subtext">{{ _('Last updated') }}</span>
        {{ h.render_datetime(pkg.metadata_modified, date_format="%Y.%m.%d. %H:%M", with_hours=True) }}
      </span>
      <span class="label">
        <span class="subtext">{{ _('Created') }}</span>
        {{ h.render_datetime(pkg.metadata_created, date_format="%Y.%m.%d. %H:%M", with_hours=True) }}
      </span>
    </div>
    {{self.package_notes()}}
    <span class="insert-comment-thread"></span>

    <h2>{{ _('Source files') }}</h2>
    {{self.package_resources()}}
    <h2>{{ _('Metadata') }}</h2>
    {{self.package_additional_info()}}
  </div>
{% endblock %}
{#
{% extends "package/read_base.html" %}


{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    {% block package_archive_notice %}
      {% if is_activity_archive %}
        <div class="alert alert-danger">
          {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
          You're currently viewing an old version of this dataset. To see the
          current version, click <a href="{{ url }}">here</a>.
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
      {% if pkg.notes %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}
    {% endblock %}
    <span class="insert-comment-thread"></span>
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

{% endblock %}
#}